
#left {
    float: left;
    width: 300px;
}

#kreweta {
    alignment: center;

}

#center {
    margin: 0 auto;
    width: calc(100% - 600px);
    text-align: center;
    /*vertical-align: middle;*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aac73c;
    /*border: solid white 1px;*/

}

#center img {
    margin-right: 10px;
}

button:hover {
    opacity: 0.8;
}

/*.helper {*/
/*height: 100%;*/
/*vertical-align: middle;*/
/*}*/

body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Arial;
    background-image: url("bg.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}

#right h1 {
    padding: 1px;
}

#right input[type=text] {
    width: 50%;
    padding: 2px 2px;
    margin: 2px;
    box-sizing: border-box;
    border: none;
    background-color: black;
    color: white;
    text-align: center;
    /*border: solid white 1px;*/
}

#tempHolder {
    width: 50%;
    padding: 2px 2px;
    margin: 2px;
    box-sizing: border-box;
    border: none;
    background-color: black;
    color: white;
    text-align: center;
}

.custom-select {
    background-color: black;
    color: #ffffff;
}

.custom-select select {
    /*display: none;*/
}

.select-selected {
    background-color: #aac73c;
}

.select-items div,.select-selected {
    color: #000;
    cursor: pointer;
}

#right {
    float: right;
    /*display: inline-block;*/
    margin: 2px 2px;
    width: 300px;
    height: 100%;
    background: black;
    color: #ffffff;
    /*box-sizing: border-box;*/
    padding: 1px;
    /*border: white solid 1px;*/
    border: none;
    text-align: center;
    font-size: 14px;
}

#container {
    border-color: white;
    border-style: solid;
    border-width: 1px;
    width: calc(100% - 30px);
    color: white;
    margin: 10px;
    opacity: 80%;
    display: flex;
    padding: 4px;
    font-size: 30px;
    background: black;
}

.bodynode {
    display: inline-block;
    margin: 2px 2px;
    width: 300px;
    height: 100%;
    background: black;
    color: #ffffff;
    box-sizing: border-box;
    padding: 1px;
    border: white solid 1px;
    text-align: center;
}

.homebody {
    text-align: center;
    margin: 10px;
    width: calc(100% - 20px);
    height: 80%;
    background: black;
    opacity: 90%;
    color: #ffffff;
    position: relative;
    box-sizing: border-box;
    padding: 4px;
    border: white solid 1px;
}

.body {
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

.loginbox {
    width: 320px;
    height: 420px;
    background: black;
    opacity: 80%;
    color: #ffffff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border: white solid 1px;
    border-radius: 10px;

}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox .error {
    background-color: #aac73c;
    text-align: center;
    color: #111111;
    font-size: 12px;
    margin: 6px;
    -webkit-animation: swing 0.3s ease;
    animation: swing 0.3s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"] {
    text-align: left;
    border: none;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #ffffff;
    font-size: 16px;
}

.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    color: #111111;
    background: #aac73c;
    font-size: 18px;
}

.loginbox input[type="submit"]:hover {
    opacity: 80%;
}

.loginbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
}

.loginbox a:hover {
    text-decoration: underline;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h2, h3 {
    color: #aac73c;
}

#right input[type="submit"] {
    width: 50%;
    background-color: #aac73c;
    border: none;
    height: 20px;
}

.bodynode input[type="submit"] {
    width: 50%;
    background-color: #aac73c;
    border: none;
    height: 40px;
}

input[type="submit"]:hover {
    opacity: 80%;
}

h1 {
    margin: 0;
    /*padding: 0 0 20px;*/
    text-align: center;
    font-size: 30px;
    color: #aac73c;
}

@-webkit-keyframes swing {
    30% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }

    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

}

@keyframes swing {
    30% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }

    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

.swing {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}





