<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.thymeleaf.org"/>
<head>

    <link rel="stylesheet" href="style.css"/>
    <link rel="shortcut icon" href="kreweta.gif" type="image/x-icon"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8; width=device-width; initial-scale=1"
          name="viewport"/>
    <title>Mosura.pl - Your best aquaristic HQ</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="script.js"></script>
</head>
<body>


<div id="container">

    <div id="center">
        <img id="kreweta" src="kreweta.gif" alt="krewetka"/>
        <span>Mosura - twoje centrum akwarysty</span>
    </div>


    <div id="right">
        <h1 th:text="${loggedUser.getName()}" style="font-weight: bold; font-size: 20px;"></h1>
        <form th:action="@{/logout}" method="POST">
            <input type="submit" th:value="${logoutText}" style="margin: 5px"/>
        </form>

        <!--<input th:if="${!hasOneDev}" type="text" class="chosenDevHolder" disabled="true" id="chosenName">-->
        <input th:if="${hasOneDev}" type="text" class="chosenDevHolder" disabled="true" id="chosenNameOneDev"
               th:value="${chosenDev.getHostname()}">
        <div th:if="${!hasOneDev}">
            <select class="custom-select" id="listOfDevs" name="chosenDevs" onchange="devSelect()" style="width: 50%">
                <option id="defVal" value="default" selected="true">select device</option>
                <option th:each="dev : ${loggedUser.getListOfRpis()}" th:value="${dev.getHostname()}"
                        th:text="${dev.getHostname()}"/>
            </select>
        </div>


    </div>


</div>


<div class="homebody">
    <div class="bodynode" id="tempSensor" style="display: none;">
        <h2>Temperature sensors</h2>
    </div>

    <div class="bodynode" id="lightSensor" style="display: none">
        <h2>Lights</h2>
    </div>
    <div class="bodynode" id="controllers" style="display: none">
        <h2>Controllers</h2>
    </div>

</div>

</body>
</html>