<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.thymeleaf.org"/>

<head>
    <link rel="shortcut icon" href="kreweta.gif" type="image/x-icon"/>
    <link rel="stylesheet" href="style.css"/>
    <title>Mosura</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8; width=device-width; initial-scale=1" name="viewport" />
</head>
<body>


<div class="loginbox">
<img src="avatar.png" class="avatar"/>
    <h1>Login here</h1>
    <p th:if="${loginError}" class="error" >Wrong or missing credentials.</p>
    <p th:if="${userNotFound}" class="error">User not found.</p>
    <p th:if="${loggedOut}" class="error">Logged out properly.</p>
    <form th:action="@{/index}" th:object="${loginForm}" method="post">
        <p>Username</p>
        <input type="text" name="username" placeholder="Enter Username">
        <p>Password</p>
        <input type="password" name="password" placeholder="Enter password">
        <input type="submit" name="submit" value="Login">
        <a href="#">Lost your password?</a><br>
    </form>
</div>


</body>
</html>
